{% extends "base.html" %}

{% block about_cls %}active{% endblock %}

{% block pg-class %}about{% endblock %}

{% block canvas %}
  <div class="overlay">
    <p>
      Co-founder, owner and principal designer of White Pine Design, Inc., Camille exuberates a passionate creativity
      that defines the best of her business. She personifies the very philosophies of professional skill and personal
      connection.
    </p>

    <p>
      A Park City resident since 1985, Camille is known as a local "parkite". She was raised in beautiful Park City
      where she knew at an early age that she had a love for Interior Design; that love was encouraged and nurtured.
    </p>

    <p>
      Camille studied Interior Design at Brigham Young University, graduating with a Bachelors of Science in Interior
      Design with a minor in Art and Architecture. While at BYU her studies took her to France, Italy and Spain to study
      Interior Design, Art and Architecture. Her studies included emphasis in space planning, color theory, kitchen and
      bath design, lighting design and textiles. She completed a successful Interior Design internship before opening
      the doors to White Pine Design, Inc. in 2005.
    </p>

    <p>
      A current resident of Midway Utah, Camille and her family enjoy the great outdoors.
    </p>

    <p>
      Whatever your design style or preferences we can help make your dreams become the comfortable, livable space you
      desire.
    </p>
  </div>
{% endblock %}