{% extends "base.html" %}

{% block about_cls %}active{% endblock %}

{% block canvas %}
  <div class="overlay">
    <p>
      I have been a resident of Park City, Utah since I was very young. It
      is a beautiful place to call home. There's so much to do here and so
      many good people to associate with. There's always something going on. It's in this
      wonderful environment that I decided to establish my interior design
      business.
    </p>
    <p>
      I have long been interested in interior design -- knowing how to
      coordinate themes and blend styles, how to set the mood in a room or
      even an entire home, and being able to express ideas and personality
      through this art. Because of this interest, I have gone on to receive
      my degree in Interior Design from Brigham Young University -- Idaho.
      There I was tutored in much of the technique used in successful
      interior design. I also received special training and exposure in
      architecture and design as I studied abroad in France, Italy, and
      Spain.
    </p>
    <p>
      After completing my work at the university, I easily transitioned back
      into this area, first working for a local designer and then starting
      my own interior design business -- White Pine Design. There has been
      great response to my services in this area. I have had a steady
      influx of clientel, most desiring assistance in their development of
      higher-end residential projects and also a few commercial projects.
    </p>
    <p>
      At the time of my return to Park City, I married Gregg Simons. Since
      then, we have both received our Real Estate Licenses are also working
      together meeting the needs of clients in the ever-growing real estate
      business in the Park City area. Because of my unique training and
      experience in interior design, I have been able to work seamlessly
      with clients that also have interior design needs. It has been a
      wonderful experience for us.
    </p>
    <p>
      I never cease to tire of life. There are always new challenges and
      something exciting to engage in. In our spare time, Gregg and I enjoy
      adventures in the outdoors, travelling to new places, and visiting our
      family. We are pleased with our success so far and look forward to a
      bright future.
    </p>
  </div>
  <img src="{{ STATIC_URL }}img/sample4.jpg" />
{% endblock %}