<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="ie ie7 no-js"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie ie8 no-js"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
  <!--[if IE ]>
 		<meta http-equiv="x-ua-compatible" content="edge" />
 	<![endif]-->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="copyright" content="Copyright 2012 White Pine Interior Design. All rights reserved." />
  <meta name="Description" content="White Pine interior design provides professional design services for the Midway and Park City, Utah areas." />
 	<meta name="Keywords" content="Midway Utah, UT, Park City Utah, Interior Design, Design, Interiors" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <title>Midway Utah Interior Design | White Pine Interior Design</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/wp.css"/>
  <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="{% block pg-class %}{% endblock %}">
<div class="container">
  {% block ribbon %}
    <div class="ribbon {% block ribbon-class %}{% endblock %}" role="banner">
      <header>
        <a href="{% url index %}">
          <hgroup>
            <h1>White Pine</h1>
            <h2>Interior Design</h2>
          </hgroup>
        </a>
      </header>
      {% block ribbon-content %}{% endblock %}
    </div>
  {% endblock %}
  <nav role="navigation">
    <ul>
      <li><a href="{% url contact %}" class="{% block contact_cls %}inactive{% endblock %}">Contact</a></li>
      <li><a href="{% url about %}" class="{% block about_cls %}inactive{% endblock %}">About</a></li>
      <li><a href="{% url suppliers %}" class="{% block services_cls %}inactive{% endblock %}">Suppliers</a></li>
      <li><a href="{% url portfolio %}" class="{% block portfolio_cls %}inactive{% endblock %}">Portfolio</a></li>
    </ul>
  </nav>
  <div class="canvas" role="main">
    {% block canvas %}
      <img src="{{ STATIC_URL }}/img/sample.jpg" />
    {% endblock %}
  </div>
  <footer role="contentinfo">
    <p>&copy 2012 White Pine Interior Design | All Rights Reserved</p>
    <ul>
      <li><a href="{% url contact %}">Contact</a></li>
      <li>Midway Utah Interior Design</li>
    </ul>
  </footer>
</div>
{% block bottom-scripts %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
{% endblock %}
</body>
</html>