<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <title>White Pine Interior Design</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/wp.css"/>
</head>
<body class="{% block pg-class %}{% endblock %}">
<div class="container">
  <div class="ribbon">
    {% block ribbon %}
      <header>
        <hgroup>
          <h1>White Pine</h1>
          <h2>Interior Design</h2>
        </hgroup>
      </header>
      {% block ribbon-content %}{% endblock %}
    {% endblock %}
  </div>
  <nav>
    <ul>
      <li><a href="{% url contact %}" class="{% block contact_cls %}inactive{% endblock %}">Contact</a></li>
      <li><a href="{% url about %}" class="{% block about_cls %}inactive{% endblock %}">About</a></li>
      <li><a href="{% url services %}" class="{% block services_cls %}inactive{% endblock %}">Services</a></li>
      <li><a href="{% url portfolio %}" class="{% block portfolio_cls %}inactive{% endblock %}">Portfolio</a></li>
    </ul>
  </nav>
  <div class="canvas">
    {% block canvas %}
      <img src="{{ STATIC_URL }}/img/sample.jpg" />
    {% endblock %}
  </div>
  <footer>
    <p>&copy 2011 White Pine Interior Design</p>
    <ul>
      <li><a href="{% url contact %}">Contact</a></li>
      <li><a href="{% url policies %}">Policies</a></li>
      <li>All Rights Reserved</li>
    </ul>
  </footer>
</div>
{% block bottom-scripts %}
  <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="{{ STATIC_URL }}js/zepto.min.js"></script>
{% endblock %}
</body>
</html>