{% extends "base.html" %}

{% block contact_cls %}active{% endblock %}

{% block canvas %}
  <div class="overlay">
    <h2>Contact</h2>
    <ul class="contact-opts">
      <li>
        <h3>Email</h3>
        <a href="mailto:whitepineinteriordesign@gmail.com">whitepineinteriordesign.@gmail.com</a>
      </li>
      <li>
        <h3>Phone</h3>
        <a href="tel:801-555-5555">(801) 555-5555</a>
      </li>
    </ul>
    <p>
      I'd be happy to work with you on your next interior design project.  I'd be especially interested in helping you
      with these kinds of projects:
    </p>
    <ul>
      <li>La dee da</li>
      <li>Dee dah</li>
    </ul>
  </div>
  <img src="{{ STATIC_URL }}img/sample5.jpg" />
{% endblock %}