{% extends "base.html" %}

{% block contact_cls %}active{% endblock %}

{% block pg-class %}contact{% endblock %}

{% block canvas %}
  <div class="overlay">
    <h2>Contact</h2>
    <p>
    White Pine Interior Design, Inc.<br />
    P.O. Box 682023<br />
    Park City, Utah 84068<br />
    </p>
    <p>
    </p>
    <p>
    phone: <a href="tel:435-602-0369">435.602.0369</a><br />
    email: <a href="mailto:camillesimons@gmail.com">camillesimons@gmail.com</a>
    </p>
  </div>
  <img src="{{ STATIC_URL }}img/sample5.jpg" class="bg-img" />
{% endblock %}