{% extends "base.html" %}

{% block pg-class %}content portfolio{% endblock %}

{% block portfolio_cls %}active{% endblock %}

{% block ribbon-class %}small{% endblock %}

{% block bottom-scripts %}
  {{ block.super }}

  <script type="text/template" id="album-li">
    <img src="<%- cover %>" />
  </script>

  <script type="text/template" id="photo-display">
    <img class="disp-photo" src="<%- url %>" />
  </script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone-min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/portfolio.js"></script>
{% endblock %}

{% block canvas %}
  <div id="display">
    <img class="disp-photo" src="{{ STATIC_URL }}img/sample2.jpg" />
  </div>
  {% block galleries %}
    <ul id="albums"></ul>
    <a href="#" class="arrow left">Back</a>
    <a href="#" class="arrow right">Forward</a>
    <a href="#" id="album-slider">Show albums</a>
  {% endblock %}
{% endblock %}