{% extends "base.html" %}

{% block pg-class %}content portfolio{% endblock %}

{% block portfolio_cls %}active{% endblock %}

{% block ribbon-class %}small{% endblock %}

{% block canvas %}
  <img src="{{ STATIC_URL }}img/sample2.jpg" />
  {% block galleries %}
    <ul class="albums">
      <li>
        <a href="#">
          <img src="{{ STATIC_URL }}img/placeholder.gif" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ STATIC_URL }}img/placeholder.gif" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ STATIC_URL }}img/placeholder.gif" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ STATIC_URL }}img/placeholder.gif" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ STATIC_URL }}img/placeholder.gif" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ STATIC_URL }}img/placeholder.gif" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ STATIC_URL }}img/placeholder.gif" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="{{ STATIC_URL }}img/placeholder.gif" />
        </a>
      </li>
    </ul>
  {% endblock %}
{% endblock %}