{% extends "base.html" %}

{% block pg-class %}services{% endblock %}

{% block services_cls %}active{% endblock %}

{% block ribbon-content %}
  <ul class="supplier-menu" class="navigation">
    {% for cat in categories %}
      <li><a href="#" id="{{ cat.title_slug }}">{{ cat.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block canvas %}
  <div class="overlay">
    <h2 id="cat-title">{{ first_cat.title }}</h2>
    <div class="supplier-menu">
      More categories:
      <select class="navigation">
        {% for cat in categories %}
          <option value="{{ cat.title_slug }}">{{ cat.title }}</option>
        {% endfor %}
      </select>
    </div>
    <ul role="navigation" class="suppliers">
      {% for supp in suppliers %}
        <li class="supplier {{ supp.category.title_slug }}"><a href="{{ supp.website }}" target="_blank">{{ supp.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <img src="{{ STATIC_URL }}img/sample3.jpg" class="bg-img" />
{% endblock %}

{% block bottom-scripts %}
  {{ block.super }}
  <script type="text/javascript">
    $(function () {
      function selectCat($selected, catId) {
        $('.supplier').hide();
        $('.supplier.' + catId).show();
        $('#cat-title').html($selected.html());
        return false;
      }
      $('.supplier-menu a').bind('click', function () {
        var catId = $(this).attr('id');
        selectCat($(this), catId);
        $('.overlay .supplier-menu select option[value=' + catId + ']').attr('selected', 'selected');
      }).first().trigger('click');
      $('.overlay .supplier-menu select').bind('change', function () {
        var $option = $(this).children("option:selected");
        selectCat($option, $option.val());
      });
    });
  </script>
{% endblock %}