{% extends "base.html" %}

{% block pg-class %}services{% endblock %}

{% block services_cls %}active{% endblock %}

{% block ribbon-content %}
  <ul class="supplier-menu" class="navigation">
    {% for cat in categories %}
      <li><a href="#" id="{{ cat.title_slug }}">{{ cat.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block canvas %}
  <div class="overlay">
    <h2 id="cat-title">{{ first_cat.title }}</h2>
    <ul role="navigation">
      {% for supp in suppliers %}
        <li class="supplier {{ supp.category.title_slug }}"><a href="{{ supp.website }}" target="_blank">{{ supp.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <img src="{{ STATIC_URL }}img/sample3.jpg" />
{% endblock %}

{% block bottom-scripts %}
  {{ block.super }}
  <script type="text/javascript">
    $(function () {
      $('.supplier-menu a').bind('click', function () {
        $('.supplier').hide();
        var catId = $(this).attr('id');
        $('.supplier.' + catId).show();
        $('#cat-title').html($(this).html());
        return false;
      }).first().trigger('click');
    });
  </script>
{% endblock %}