@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'Telegrafico';
	src: url('../type/telegrafico-webfont.eot');
}
@font-face {
	/* This declaration targets everything else */
	font-family: 'Telegrafico';
	src: url(//:) format('no404'), url('../type/telegrafico-webfont.woff') format('woff'), url('../type/telegrafico-webfont.ttf') format('truetype'), url('../type/telegrafico-webfont.svg#webfont4u05kPhw') format('svg');
	font-weight: normal;
	font-style: normal;
}
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}
ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #101010;
  background: #101010 url(../img/victorianbg2.jpg) repeat-x 0 110px;
}
.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}
nav {
  overflow: auto;
  padding: 45px 0px 10px 0px;
  overflow: auto;
  text-transform: uppercase;
  font-size: 14px;
  color: #707070;
}
nav ul li {
  float: right;
  margin-left: 14px;
}
nav ul li a {
  color: #ffffff;
}
nav ul li a.active {
  color: #c42945;
}
.company {
  display: none;
}
.ribbon {
  position: absolute;
  top: -5px;
  left: 6.8359375%; /*70/1024*/
  width: 230px;
  height: 670px;
  z-index: 1;
  text-align: center;
  -webkit-box-shadow: 3px 3px 3px #000000;
  -moz-box-shadow: 3px 3px 3px #000000;
  box-shadow: 3px 3px 3px #000000;
  background: url(../img/wpScribbleTree.png) no-repeat 100px 77px #4a111a; /* old browsers */
  background: url(../img/wpScribbleTree.png) no-repeat 100px 77px -moz-linear-gradient(top, #5F1622 0%, #4A111A 100%); /* firefox */
  background: url(../img/wpScribbleTree.png) no-repeat 100px 77px -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5F1622), color-stop(100%,#4A111A)); /* webkit */
}
.ribbon.small {
  height: 95px;
  background-image: none;
}
header hgroup {
  margin-top: 470px;
  height: 86px;
  overflow: hidden;
  background: url(../img/title.png) no-repeat center;
  text-indent: -999em;
}
.ribbon.small header hgroup {
  margin-top: 32px;
}
.canvas {
  position: relative;
  z-index: 0;
  border: 1px solid #fff;
  height: 682px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 3px #000000;
  -moz-box-shadow: 3px 3px 3px #000000;
  box-shadow: 3px 3px 3px #000000;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.9);
}
footer {
  font-size: 10px;
  overflow: auto;
  margin-top: 10px;
}
footer p {
  float: left;
  margin: 0px;
}
footer ul li {
  float: right;
  margin-left: 6px;
}

/*** content ***/
.content hgroup {
  margin-top: 35px;
  height: 29px;
  background: url(../img/title-content.png) no-repeat center;
}
.overlay {
  position: absolute;
  top: 50px;
  right: 4.8828125%; /*50/1024*/
  width: 53.90625%; /*552/1024*/
  height: 483px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.6);
  display: block;
  padding: 30px 2.9296875%; /*30/1024*/
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*** portfolio ***/
.disp-photo {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
#albums {
  padding: 0;
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(0,0,0);
  background: rgba(0, 0, 0, .6);
  display: block;
  width: 100%;
}
#albums li {
  float: left;
}
#albums img {
  height: 72px;
  width: 72px;
  margin: 9px;
  cursor: pointer;
}
#albums li.slider {
  width: 30px;
  display: none;
}
#albums li.slider a {
  margin: 9px;
  font-size: 16px;
  width: 0;
  height: 0;
  border-top: 36px solid transparent;
	border-bottom: 36px solid transparent;
  display: block;

}
.slider .prev {
  border-right: 10px solid #fff;
}
.slider .next {
  border-left: 10px solid #fff;
}
#albums-tgl {
  height: 72px;
  width: 72px;
  margin: 9px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0) url(../img/albums.png) no-repeat center center;
  background: rgba(0, 0, 0, .6) url(../img/albums.png) no-repeat center center;
  overflow: hidden;
  text-indent: -999em;
  display: block;
}
.arrow {
  display: block;
  height: 50px;
  width: 60px;
  position: absolute;
  top: 291px;
  overflow: hidden;
  text-indent: -999em;
}
.arrow.left {
  background: rgb(0,0,0) url(../img/left.png) no-repeat center center;
  background: rgba(0, 0, 0, .6) url(../img/left.png) no-repeat center center;
  left: 0;
}
.arrow.right {
  background: rgb(0,0,0) url(../img/right.png) no-repeat center center;
  background: rgba(0, 0, 0, .6) url(../img/right.png) no-repeat center center;
  right: 0;
}


/*** suppliers ***/
.supplier-menu {
  position: absolute;
  right: 20px;
  top: 160px;
  list-style: none;
}
.supplier-menu li {
  display: block;
  line-height: 30px;
  text-transform: uppercase;
}
.supplier-menu li a {
  font-size: 14px;
  text-align: right;
  display: block;
  color: #faf8ba;
  text-decoration: none;
  padding-left: 15px;
}
.supplier-menu li a:hover:before {
  content: "\2192\00a0";
}
.suppliers {
  -moz-column-count: 2;
  -moz-column-gap: 15px;
  -webkit-column-count: 2;
  -webkit-column-gap: 15px;
  column-count: 2;
  column-gap: 15px;
}
.supplier {
  display: none;
  margin-top: 10px;
}
.supplier a:hover {
  color: #faf8ba;
  text-decoration: underline;
}

/*** contact ***/
.contact .overlay {
  text-align: right;
}
.contact .overlay p {
  font-size: 18px;
}
.contact .overlay a {
  text-decoration: underline;
}

/*** about ***/
.about .canvas {
  background: rgb(255, 255, 255);
}
.about .fam {
  max-width: 100%;
  float: right;
  margin: 10px 0 0 10px;
  width: 235px;
}

@media screen and (max-width: 1023px) {
  .container {
    width: 95%;
  }
  .ribbon {
    display: none;
  }
  .home {
    display: none;
  }
  .company {
    display: inherit;
  }
}
@media screen and (max-width: 479px) {
  .container {
    width: 98%;
  }
}